<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLRaindropTargetBundleID</key>
	<string>com.flyingmeat.Acorn</string>
	<key>CLRaindropCreator</key>
	<string>Adam Preble</string>
	<key>CLRaindropName</key>
	<string>Acorn</string>
	<key>CLRaindropDescription</key>
	<string>Web export the current document and upload the result.</string>
	<key>CLRaindropURL</key>
	<string>https://github.com/preble/AcornRaindrop</string>
</dict>
</plist>
